<head>
  <title>Homepage</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link
    href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css'
    rel='stylesheet'
  />
  <style>
    body {
      background-color: darkslateblue;
      color: white;
      padding: 0;
    }

    div, h4 {
      padding-left: 1vw;
      padding-right: 1vw;
    }

    div.header {
      width: 100vw;
      padding: 0;
      height: 8vh;
      display: flex;
      align-items: center;
      background-color: slateblue;
      box-shadow: 0 1px 3px black;
    }

    div.list-wrapper {
      margin: 2vh auto 4vh auto;
      max-height: 40vh;
      overflow-y: auto;
      max-width: 600px;
    }

    li {
      font-size: 15px;
      margin: 0.5rem;
      border: 1px solid ghostwhite;
      border-radius: 3px;
      padding: 0.5rem;
      background-color: #40367d;
    }

    div.button-wrapper {
      display: flex;
      justify-content: center;
      padding-left: 0;
    }

    a {
      color: white;
      background-color: slateblue;
      border-radius: 5px;
      font-size: 17px;
      padding: 0.5rem;
      transition: 0.3s;
      text-decoration: underline;
    }

    a.header-link {
      padding-left: 1vw;
    }

    a.download {
      display: flex;
      justify-content: center;
      width: 80vw;
      max-width: 300px !important;
    }

    a.download:hover {
      color: white;
      background-color: #332a66;
      transition: 0.3s;
    }
  </style>
</head>

<body>
  <div class="header">
    <a class="header-link" href="/">Home</a>
  </div>

  <% if @user %>
    <h4><%= @user.name %>'s absences</h4>
  <% end %>

  <% if @start_date %>
    <h4>Since: <%= @start_date %></h4>
  <% end %>

  <% if @end_date %>
    <h4>Until: <%= @end_date %></h4>
  <% end %>

  <h4 class="text-center">Confirmed absences</h4>
  <div
    class="d-flex flex-column flex-lg-row justify-content-around list-wrapper"
  >
    <ul>
      <% if !@confirmed_absences.empty? %>
        <% @confirmed_absences.each do |abs| %>
          <li>
            Absentee: <%= abs.absentee.name %><br>
            Duration: from <%= abs.start_date %> to <%= abs.end_date %><br>
            Reason: <%= abs.description %>
          </li>
        <% end %>
      <% else %>
        <li>
          There are no confirmed absences
          <%= @start_date || @end_date ? "for this time period" : nil %>.
        </li>
      <% end %>
    </ul>
  </div>

  <h4 class="text-center">Pending absences</h4>
  <div
    class="d-flex flex-column flex-lg-row justify-content-around list-wrapper"
  >
    <ul>
      <% if !@pending_absences.empty? %>
        <% @pending_absences.each do |abs| %>
          <li>
            Absentee: <%= abs.absentee.name %><br>
            Duration: from <%= abs.start_date %> to <%= abs.end_date %><br>
            Reason: <%= abs.description %>
          </li>
        <% end %>
      <% else %>
        <li>
          There are no pending absences
          <%= @start_date || @end_date ? "for this time period" : nil %>.
        </li>
      <% end %>
    </ul>
  </div>

  <% unless @user || @start_date || @end_date %>
    <div class="button-wrapper">
      <a href="/download_calendar" class="download">Download ics calendar</a>
    </div>
  <% end %>
</body>